{% extends 'shop/basic.html'%}
{% block title%} THIS PAGE TELLS YOU ABOUT US{% endblock%}
{% block body%}
<h4>This is about me</h4>
<p>
My name is <b>vanya srivastava</b>
<br>
<br>
<br>
I have designed this ecommerce website as a part of my project
<br>
Contact NO: <b>9354583174</b>
<br>
<br>
<br>
ADDRESSS:185 K Block Yashoda Nagar Kanpur 
<br>
<br>
I am persuing my Btech from <b> G.L Bajaj of Institute of Technology and Management</b>
<br>
<br>
<br>
Thank you for shopping with us 
<div class="alert alert-success"  role="alert">
  <strong>Hello!!!!</strong>Please visit us again for shopping
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</p>
 {% endblock%}